.calculator {
  width: 250px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  color: hsl(202, 11%, 29%);
}

.calculator input {
  width: 90%;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 25px;
  border: none;
  border-radius: 500px;
  cursor: pointer;
}

button:hover {
  background-color: #d6d6d6;
}

.calculator__key--enter {
  grid-column: 4 / 4;
  grid-row: 4,9 / span 5;
}

.calculator__key--clear {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}